/*-- scss:defaults --*/

/*--
  adapted from: https://github.com/sta210-s22
--*/

$body-bg: #232136;
$footer-bg: #232136;

$input-bg: #2a273f;
$popover-bg: #2a273f;

$navbar-bg: #393552;
$sidebar-bg: #393552;

$body-color: #e0def4;
$link-color: #9ccfd8;
$light: #525252;

// Code blocks
$code-block-bg-alpha: -.8;

/*-- scss:rules --*/
