/*-- scss:defaults --*/

$body-bg: #faf4ed;
$footer-bg: #faf4ed;

$input-bg: #fffaf3;
$popover-bg: #fffaf3;

$navbar-bg: #f2e9e1;
$sidebar-bg: #f2e9e1;

$body-color: #575279;
$link-color: #406c77;
$light: #905a0e;

/*-- scss:rules --*/
